{% extends 'layout.html' %}

{% block content %}
<section class="w-full px-8 py-16 xl:px-8 bg-cover bg-[url('./resources/assets/images/swords1.jpg')]">
    <div class="max-w-5xl mx-auto">
        <div class="flex flex-col items-center md:flex-row ">

            <div class="w-full space-y-5 md:w-3/5 md:pr-16 ">
                <p class="font-bold text-xl text-blue-500 uppercase" data-primary="blue-500">Collect them all</p>
                <h2 class="text-2xl font-extrabold leading-none text-black sm:text-3xl md:text-5xl">
                    Get Your Favorite Sword To Crush Your Ennemies.
                </h2>
                <p class="text-xl text-white md:pr-16">We are committed to making shopping with us <strong>a pleasurable experience.</strong> We’re happy to help you find the right items <strong>to fit your needs.</strong></p>
            </div>

            <div class="w-full mt-16 md:mt-0 md:w-2/5">
                <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7" data-rounded="rounded-lg" data-rounded-max="rounded-full">
                    {{ checkFieldsConn }}
                    <h3 class="mb-6 text-2xl font-medium text-center">Create New Account</h3>
                    <form action="/inscription" method="POST">
                    <input type="text" name="name" id="name" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" data-rounded="rounded-lg" data-primary="blue-500" placeholder="Name" required>
                    <input type="password" name="password" id="password" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" data-rounded="rounded-lg" data-primary="blue-500" placeholder="Password" required>
                    <div class="block">
                        <button class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg" data-primary="blue-600" data-rounded="rounded-lg">Send data</button>
                    </div>
                </form>
</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}